* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-color: #100C16;
}

// .container {
//     // width: 85%;
//     // margin: 0 auto;
//     // background-color: #100C16;
// }

main {
    width: 85%;
    margin: 0 auto;
    background-color: #100C16;
}

///// nav 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;

    .logo {
        width: 30%;
        height: 40px;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-position: left;
        background-origin: content-box;
        background-size: contain;
    }

    .SingUpDiv {
        display: flex;
        align-items: center;

        a {
            font-size: 18px;
            color: #ffffff;
            padding: 2px 50px;
            text-decoration: none;
            border: 3px solid #8276FF;
            border-radius: 131px;
        }
    }

}

////section Partner////

.sectionPartner {
    margin: 40px 0;

    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 42px;
        text-align: center;
        color: #ffffff
    }

    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}



/////////////////// foooter ///////////////////
footer {
    border-radius: 5px;
    // padding: 10px 0 5px 0 5px;
    padding: 0 10px;
    margin: 30px 0;

    background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);

    display: flex;
    justify-content: space-between;

    div {
        margin: auto 0;

        h2 {
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            color: #ffffff;
        }

        .linkDiv {
            margin-top: 20px;

            a {
                padding: 10px 20px;
                background: #8276FF;
                border-radius: 31.0938px;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.02em;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }

    img {
        width: 60%;

        object-fit: contain;
    }

}