* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1E1E1E;
}

.container {
    width: 85%;
    margin: 0 auto;
}

///// nav 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 30%;
        height: 40px;
        background-image: url(https://www.webwork-tracker.com/images/time-tracker-software/layout/header/icons/full_logo.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-origin: content-box;
    }

    .SingUpDiv {
        display: flex;
        align-items: center;

        a {
            font-size: 18px;
            color: #ffffff;
            padding: 2px 50px;
            text-decoration: none;
            border: 3px solid #8276FF;
            border-radius: 131px;
        }
    }

}