@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+TAS+Beginner&display=swap');

.section2 {
    height: 100vh;

    .header {
        color: #ffffff;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 52px;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Edu TAS Beginner', cursive;
    }
}