.section3 {
    margin: 30px 5px;

    .mainDiv {
        padding: 30px 0;
        margin: 50px 0;
        background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
        border-radius: 26px;
    }

    h1 {
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 40px;
        color: #ffffff;

        span {
            color: #FFC107;
        }
    }

    nav {
        padding: 10px 60px;


        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style-type: none;
            border-bottom: 3px solid #ffffff;

            li {
                cursor: pointer;

                svg {
                    margin: 0 auto;
                    display: block;
                    width: 50%;
                }

                h2 {
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    color: #ffffff;
                }
            }
        }
    }
}

#active {
    border-bottom: 3px solid #ffffff;
}


.section3content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 40px 40px;

    .contentLeft {
        width: 50%;

        h1 {
            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 27px;
            line-height: 33px;
        }

        ul {
            margin: 30px 0;
            list-style-image: url(../images/advantages.png);
            list-style-position: inside;

            li {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #ffffff;
            }
        }

        a {
            display: block;
            width: 68%;
            text-align: center;
            margin-top: 10px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 15px;
            color: #ffffff;
            text-decoration: none;
            padding: 15px 30px;
            background-color: #8276FF;
            border-radius: 50px;
        }
    }

    .contentRight {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}